coverage==6.4.2
flake8==4.0.1
importlib-metadata==4.2.0
iniconfig==1.1.1
mccabe==0.6.1
numpy==1.21.6
packaging==21.3
pkg_resources==0.0.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.9
pytest==7.1.2
pytest-cov==3.0.0
toml==0.10.2
tomli==2.0.1
typing_extensions==4.3.0
zipp==3.8.1

